<header class="p-3 mb-3 border-bottom sticky-top bg-light">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start me-lg-auto">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <img src="/static/img/icon.png" height="40px" class="d-none d-sm-block">
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 ps-5 pe-5">
        <li><a href="/" class="nav-link px-2 link-{% if is_home %}secondary{% else %}dark{% endif %}"><i data-feather="home"></i> Home</a></li>
        <li><a href="/publish" class="nav-link px-2 link-{% if is_publish %}secondary{% else %}dark{% endif %}"><i data-feather="book-open"></i> Publish</a></li>
        <li><a href="/about" class="nav-link px-2 link-{% if is_about %}secondary{% else %}dark{% endif %}"><i data-feather="aperture"></i> About</a></li>
        <li><a href="/help" class="nav-link px-2 link-{% if is_help %}secondary{% else %}dark{% endif %}"><i data-feather="help-circle"></i> Help</a></li>
      </ul>
    </div>
  </div>
</header>